<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1EF4DAEA-621A-433E-8DF7-68C77B79C640</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3174365D-756A-4565-8208-7C368F21F146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3174365D-756A-4565-8208-7C368F21F146</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D269323-EF22-4736-9462-66AB05DDED58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lingnan Dai</string>
	<key>description</key>
	<string>A control interface for FMC</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Douban.FM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>douban</string>
				<key>runningsubtext</key>
				<string>Connecting to FMC</string>
				<key>script</key>
				<string>###### change FMC_BIN / FMD_BIN if they are stored at some custom location
export FMC_BIN=~/bin/fmc
export FMD_BIN=~/bin/fmd
bash fmc-script.sh "{query}"</string>
				<key>subtext</key>
				<string>press space to see the full command list</string>
				<key>title</key>
				<string>Douban</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3174365D-756A-4565-8208-7C368F21F146</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>bash fmc.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5D269323-EF22-4736-9462-66AB05DDED58</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1EF4DAEA-621A-433E-8DF7-68C77B79C640</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EF4DAEA-621A-433E-8DF7-68C77B79C640</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3174365D-756A-4565-8208-7C368F21F146</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5D269323-EF22-4736-9462-66AB05DDED58</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
